* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: white;
    line-height: 1.6;
}

.hero {
    min-height: 100vh;
    background: linear-gradient(135deg, #020617, #0f172a, #1d4ed8);
    padding: 25px 8%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 26px;
}

.logo span {
    color: #38bdf8;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-weight: bold;
}

nav a:hover {
    color: #38bdf8;
}

.hero-content {
    margin-top: 180px;
    max-width: 700px;
}

.hero-content h1 {
    font-size: 55px;
    margin-bottom: 15px;
}

.hero-content h1 span {
    color: #38bdf8;
}

.hero-content p {
    font-size: 22px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background: #38bdf8;
    color: #020617;
    padding: 12px 28px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background: white;
}

.section {
    padding: 70px 8%;
    max-width: 1200px;
    margin: auto;
}

.section h2 {
    font-size: 35px;
    margin-bottom: 25px;
    color: #38bdf8;
    text-align: center;
}

.section p {
    font-size: 18px;
}

.skills-box {
    text-align: center;
}

.skills-box span {
    display: inline-block;
    background: #1e293b;
    padding: 12px 22px;
    margin: 10px;
    border-radius: 25px;
    border: 1px solid #38bdf8;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.project-card {
    background: #1e293b;
    padding: 25px;
    border-radius: 18px;
    border: 1px solid #334155;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-8px);
    border-color: #38bdf8;
    box-shadow: 0 0 20px rgba(56, 189, 248, 0.3);
}

.project-card h3 {
    color: #38bdf8;
    margin-bottom: 12px;
}

.project-card p {
    font-size: 16px;
    margin-bottom: 15px;
}

.project-card a {
    color: #38bdf8;
    text-decoration: none;
    font-weight: bold;
}

.project-card a:hover {
    text-decoration: underline;
}

.contact {
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background: #020617;
    color: #94a3b8;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        gap: 15px;
    }

    nav a {
        margin-left: 10px;
    }

    .hero-content {
        margin-top: 120px;
        text-align: center;
    }

    .hero-content h1 {
        font-size: 38px;
    }

    .hero-content p {
        font-size: 18px;
    }
}